[package]
name         = "wlambda"
version      = "0.4.4"
authors      = ["Weird Constructor <weirdconstructor@gmail.com>"]
license      = "GPL-3.0-or-later"
edition      = "2018"
description  = "WLambda is an embeddable scripting language for Rust"
repository   = "https://github.com/WeirdConstructor/WLambda"
readme       = "README.md"
keywords     = ["simple","scripting","language","embeddable","lisp"]
categories   = ["parsing","config","parser-implementations"]
exclude      = ["res/*"]

[features]
default = ["rustyline", "regex", "chrono", "serde", "serde_json", "rmp-serde"]

[dependencies]
fnv        = "1.0.6"
rustyline  = { version = "4.1.0",  optional = true }
regex      = { version = "1.1.9",  optional = true }
chrono     = { version = "0.4.7",  optional = true }
serde      = { version = "1.0.92", optional = true }
serde_json = { version = "1.0.39", optional = true }
rmp-serde  = { version = "0.14.0", optional = true }

[profile.release]
debug = true
#opt-level="z"
#lto = true
#panic = 'abort'
