[package]
name         = "wlambda"
version      = "0.1.0"
authors      = ["Weird Constructor <weirdconstructor@gmail.com>"]
license      = "GPL-3.0-or-later"
edition      = "2018"
description  = "WLambda is an embeddable scripting language for Rust"
repository   = "https://github.com/WeirdConstructor/WLambda"
readme       = "README.md"
keywords     = ["simple","scripting","language","embeddable","lisp"]
categories   = ["parsing","config","parser-implementations"]
exclude      = ["res/*"]

[dependencies]
rustyline = "4.1.0"
# rand         = "0.3.14"
# chrono       = "0.4.6"
# regex        = "1"
